:root {
  --main-background: #f5f5f5;
  --brand-background: #2f303a;
  --second-background: #f5f4fa;
  --brand-font-color: #212121;
  --focus-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --black-color: #000000;
  --color-rgba: rgba(255, 255, 255, 0.6);
  --hover-hero-btn-color: #188ce8;
}

*,
::before,
::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-font-color);
  background-color: var(--white-color);
  font-size: 14px;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
/* header */

.header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  /* margin-left: 93px; */
}

.header-nav-list-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo span:last-child {
  color: var(--black-color);
}

.logo:first-child,
.footer-logo:first-child {
  color: var(--focus-color);
}

.list {
  list-style: none;
}

.header-nav-link {
  color: var(--brand-font-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  color: var(--grey-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--focus-color);
}

.header-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* footer */

.footer {
  background-color: var(--brand-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: var(--white-color);
}

.address-link {
  font-style: normal;
  text-decoration: none;
  color: var(--color-rgba);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.google-link {
  color: var(--white-color);
}

.contact-link:hover,
.contact-link.address-link:focus {
  color: var(--focus-color);
}

/* connect */
.current {
  color: var(--focus-color);
}

.connect-title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.connect-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.connect-item {
  width: 44px;
  height: 44px;
}

.connect-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.connect-icon {
  fill: currentColor;
}

.connect-link:hover,
.connect-link:focus {
  background-color: var(--focus-color);
}

/* main studio */
/* hero */

.hero {
  background-color: var(--brand-background);
  align-items: center;
  padding: 200px 0;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/portfolio/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 696px;
}

.hero-btn {
  background-color: var(--focus-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: max-content;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-hero-btn-color);
  color: var(--white-color);
}

/* advantages */
.advantages {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
}

.advantages-icon {
  display: flex;
  max-width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: var(--second-background);
}
.advantages-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--grey-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-list-item {
  max-width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.icon-svg {
  width: 70px;
  height: 70px;
}

/* solutions + team */
.solutions-list {
  display: flex;
}

.solutions-list-item {
  max-width: 1200px;
  height: auto;
}

.solutions-list-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* team */

.team {
  background-color: var(--second-background);
}

.team-list {
  display: flex;
}

.team-list-item {
  max-width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-img {
  display: block;
}

.team-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-list-text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-content {
  padding: 30px 0;
  text-align: center;
}
.team-icons-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-icons-item {
  width: 44px;
  height: 44px;
}

.team-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
}

.team-icon {
  fill: currentColor;
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--focus-color);
}

.team-icons-link:hover .team-icon,
.team-icons-link:focus .team-icon {
  fill: var(--white-color);
}

/* clients */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--focus-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--focus-color);
}
/* main portofolio */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.projects {
  background-color: var(--white-color);
}

.projects-list-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-list-btn {
  font-family: inherit;
  background-color: var(--second-background);
  color: var(--brand-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
}

.projects-list-item-btns:not(:last-child) {
  margin-right: 8px;
}
.projects-list-btn:hover,
.projects-list-btn:focus {
  color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--focus-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list-item {
  width: calc((100% - 60px) / 3);
}

.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
}
.card-content {
  border: 1px solid #eeeeee;
}

.projects-item-link {
  text-decoration: none;
  display: block;
}

.projects-text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects-title {
  color: var(--brand-font-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
